*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.banner{
    background-color: green;
    height: 75vh;
}
.navbar{
    display: flex;    
}
.left-logo, .right-logo{
    background-color: white;
    margin: 20px;
    padding: 7px;
}
.header-text{
    margin: 20px 10px 20px;
    line-height: 27px;
    color: white;
}
.logo{
    height: 120px;
}
.image-grid{
    display: flex;
    flex-direction: row;
    height: 46vh;
    background-color: white;
    width: 48%;
    margin-left: 20px; 
}
.image-grid .column{
    display: flex;
    flex-direction: column;
    width: 50%;    
}
.image-grid .column img{
    padding: 10px;
    height: 20vh;
    object-fit: cover;   
}
.container-right{
    color: white;
    width: 47%;
    margin-left: 20px;
    

}
.container-pre{
    width: 25%;
    background-color: blue;
    text-align: center;
    margin: 0 auto;
    

}
.container-blue{
    background-color: blue;
    border: 5px solid white;
    padding-bottom: 50px;
    height: 18vh;
    
}
.cntblue-text{
    text-align: center;
    line-height: 30px;
    
}
.container-blck{
    text-align: center;
    background-color: rgb(58, 50, 50);
}
.container1{
    display: flex;

}
.container-free{
    background-color: red;
    width: 12%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -34px;
}
.cntblue-text h1{
    font-weight: 900;
}
.container-blck h5{
    
    font-weight: 200;
    line-height: 20px;
    padding: 8px 0 0 0;
}
.container-blck{
    padding: 3px auto;
    height: 15vh;
}
.container2{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 15px ;
    justify-content: space-between;
}
.btm-red h6{
    text-align: center;
}
.am{
    background-color: rgb(194, 32, 32);
    padding: 0 7px;
    
}
.btm-red{
    color: rgb(198, 28, 28);
}



